.input:focus-visible{
    outline: none;
    border-color: #40a9ff;
    border-right-width: 1px!important;
}

.input:hover{
    border-color: #40a9ff;
    border-right-width: 1px!important;
}

input[type=text], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn{
    border: none;
    padding: 5px 10px;
    text-align: center;
    margin: 4px 2px;
    border-radius: 4px;
}

.btn:hover{
    opacity: 0.8;
    cursor: pointer;
}

.btn-primary{
    color: #fff;
    background: #1890ff;
}

.btn-cancel{
    color: #fff;
    background: #ec971f;
}

.btn-delete{
    color: #fff;
    background: #ff6d18;
}

.btn-update{
    color: #fff;
    background: #4CAF50;
}

#user{
    border-collapse: collapse;
    width: 100%;
}

#user td, #user th {
    border: 1px solid #ddd;
    padding: 5px;
}

#user tr:nth-child(even){
    background-color: #ecebeb;
}

#user tr:hover {
    background-color: #ddd;
}

#user th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #1890ff;
    color: white;
}